@media screen and (width: 1024px) {
  .header {
    background-image: url("/bg.jpg");
    width: 100%;
    height: 56.5vw;
    background-position: center;
    background-size: cover;
  }

  .brand-company {
    height: 420px;
    padding-bottom: auto;
  }

  .title-company {
    min-height: 80px;
  }

  .title-company span {
    max-width: 668px;
    line-height: 76px;
  }

  input {
    font-size: 16px;
  }

  .dispaly-fiture {
    margin: 0px;
    width: 470px;
    height: 160px;
    flex-direction: row;
  }

  .content-fiture {
    flex-direction: column;
  }

  .flex-box-fiture {
    max-width: 768px;
  }

  .wrapper-fiture {
    margin: 32px 0px;
    margin-bottom: 0px;
    padding: 8px;
  }

  /* .img-fitur img {
    width: 124px;
    height: 124px;
  } */

  .content-desc-fiture h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .content-desc-fiture h3 {
    font-size: 14px;
    margin: 0;
    text-align: start;
    line-height: 20px;
  }

  .content-desc-fiture {
    text-align: start;
  }

  .btn-right button {
    justify-content: start;
  }

  .btn-right span {
    font-size: 14px;
    line-height: 20px;
  }

  .content-menu span {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  .title-menu span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  .content-menu {
    margin-left: 64px;
    width: 298.66px;
    height: 338.81px;
    margin-bottom: 96px;
  }

  .image-menu img {
    width: 597.34px;
    height: 430.81px;
  }

  .image-resto img {
    width: 597.34px;
    height: 430.81px;
  }

  .desc-resto {
    margin-left: 50px !important;
    margin-bottom: 96px;
    width: 100%;
  }

  .hero-resto span {
    font-size: 24px;
    line-height: 32px;
  }

  .description-resto span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  button.btn-input {
    display: none;
  }

  button.button-next1 {
    display: inline;
    background-color: transparent;
  }

  .wrapper-img-menu img {
    width: auto;
    height: 80vh;
  }

  .wrapper-img-resto img {
    width: auto;
    height: 80vh;
  }

  .content-resto img {
    width: auto;
    height: 80vh;
  }

  .content-resto {
    display: flex;
  }

  .desc-menu span {
    font-size: 30px;
  }
}

/*  */

.header {
  background-image: url("/bg.jpg");
  width: 100%;
  height: 86vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* btn in & up */

.wrapper-head-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 16px;
}

.head-nav {
  flex: 1 1 0%;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
}

.btn-in {
  line-height: 24px;
  border: none;
  font-size: 18px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: transparent;
  font-weight: 700;
  padding: 0 16px;
  color: rgb(255, 255, 255);
}

.btn-up {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(73, 73, 73);
  border-radius: 1000px;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
  min-height: 40px;
  line-height: 22px;
  font-size: 16px;
  padding: 0 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* end */

/* title  */

.head-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 192px;
}

.brand-company {
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.title-company {
  display: flex;
  justify-content: center;
  margin-top: 86px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.title-company span {
  font-size: 60px;
  max-width: 668px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  letter-spacing: -0.04ch;
  line-height: 76px;
}

/* end */

/* input */

.flex-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  margin-top: 76px;
}

.wrapper-input {
  position: relative;
  margin: 0px auto;
  width: 400px;
}

.content-input {
  max-width: 100%;
}

.container-input {
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 32px;
  padding: 5px;
  height: 48px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.container-input div {
  padding-top: 4px;
  padding-bottom: 4px;
}

.maps-img {
  max-width: 100%;
  margin-right: 8px;
}

.input {
  flex-grow: 1;
  background: inherit;
  max-width: 100%;
  margin: 0px 8px 0px auto;
}

input {
  width: 100%;
  border: none;
  outline: none;
  flex: 1 1 100%;
  display: flex;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  background: inherit;
  padding-bottom: 5px;
  margin: 0px;
  min-height: 30px;
  resize: vertical;
}

.btn-input {
  max-width: 100%;
  margin-right: 0px;
}

.btn-arrow-right {
  position: relative;
  max-width: 100%;
  margin: 0px;
  display: inline-flex;
  min-height: 40px;
  border-radius: 100%;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 23, 0);
  user-select: none;
  height: 40px;
  width: 40px;
  padding: 0px;
  justify-content: center;
}

/* end */

/* box fitur */

.flex-box-fiture {
  margin: 0px auto;
  width: auto;
}

.wrapper-fiture {
  margin: 76px 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 12px;
}

.content-fiture {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%; */
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 300px 300px 300px;
}

.dispaly-fiture {
  margin: 0px 17px;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-width: 300px;
  padding: 16px;
}

.img-fiture {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 0px;
}

.img-fiture img {
  margin: auto 0px;
}

.desc-fiture {
  min-height: 160px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 250px;
}

.content-desc-fiture {
  max-width: 100%;
  text-align: center;
}

.content-desc-fiture h2 {
  font-size: 28px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  color: rgb(25, 25, 25);
  display: block;
  margin: 0px;
  padding: 0px;
}

.content-desc-fiture h3 {
  font-size: 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0ch;
  color: rgb(25, 25, 25);
  margin: 8px 0px 0px 0px;
  text-align: center;
  padding: 0px;
}

.btn-right {
  border: none;
  padding: 0px;
  margin: 12px 0px 0px;
  justify-content: center;
  outline: 0px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.btn-right img {
  width: 16px;
  margin-left: 6px;
}

.btn-right span {
  color: rgb(235, 23, 0);
  font-size: 15px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.04ch;
  margin: 0px;
  padding: 0px;
}

.flex-menu {
  margin-bottom: -28px;
  width: 100%;
}

.wrapper-menu {
  flex-flow: row nowrap;
  width: 100%;
  margin: 0px auto;
  padding: 80px;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.content-menu {
  flex: 4 1 0%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 96px;
  margin: 0px;
}

.desc-menu {
  max-width: 100%;
  white-space: pre-line;
  margin-bottom: 12px;
}

.desc-menu span {
  font-size: 40px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 34px;
  display: flex;
  letter-spacing: -0.04ch;
  color: rgb(25, 25, 25);
  display: block;
  padding: 0px;
  margin: 0px;
}

.title-menu {
  max-width: 100%;
  margin-bottom: 16px;
  text-align: start;
  margin: 18px 0px;
}

.title-menu span {
  font-size: 18px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 17px;
  color: rgb(25, 25, 25);
}

.btn-app {
  position: relative;
  width: 500px;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  border-radius: 1000px;
  min-height: 35px;
  width: auto;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: rgb(217, 20, 0);
  text-align: center;
}

.btn-app div {
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 22px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 0ch;
  flex-grow: 1;
  width: 150px;
  opacity: 1;
  padding: 0px 16px;
}

.wrapper-img-menu {
  flex: 7 1 0%;
  margin-left: 64px !important;
}

.flex-resto {
  margin-bottom: -28px;
  width: 100%;
}

.wrapper-resto {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  height: auto;
  background-color: rgb(248, 224, 224);
  padding: 80px;
}

.content-resto {
  flex: 7 1 0%;
  width: 50%;
}

.image-resto {
  width: 80%;
  height: 430.81px;
}

.desc-resto {
  flex: 4 1 0%;
  margin-left: 50px !important;
  margin-bottom: 50px;
  margin-top: 100px;
  display: block;
  flex-flow: column nowrap;
  justify-content: center;
  width: 500px;
}

.hero-resto {
  width: auto;
  margin-bottom: 8px;
}

.hero-resto span {
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  margin: 0px;
  padding: 0px;
  display: block;
}

.description-resto {
  max-width: 100%;
  margin-bottom: 16px;
}

.description-resto p {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  display: block;
}

.wrapper-img-resto img {
  height: 80vh;
  width: auto;
}

/* FOOTER */

.footer-head {
  width: 100vw;
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.wrapper-footer {
  width: 1184px;
}

.wrapper-footer footer {
  max-width: 1160px;
  padding: 0px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.flex-footer {
  flex-wrap: wrap;
  display: flex;
}

.content-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  flex: 1 1 0%;
  display: block;
}

.content-footer h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.list-topCities {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.list-topCities a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: filter 0.2s ease 0s;
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-top: 8px;
}

.list-topCities span {
  font-size: 14px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(196, 196, 196);
  margin: 0px;
  padding: 0px;
  display: block;
}

.list-topCuines {
  padding-top: 32px;
  padding-bottom: 32px;
  flex: 1 1 0%;
}

.list-topCuines h2 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0px;
  display: block;
}

.list-about-company {
  display: flex;
}

.about-company {
  flex: 1 1 0%;
  display: flex;
  justify-content: space-between;
}

.desc-about {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.desc-about a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: filter 0.2s ease 0s;
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-top: 8px;
}

.desc-about span {
  font-size: 14px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(196, 196, 196);
  margin: 0px;
  padding: 0px;
  display: block;
}

.desc-about h2 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0px;
  display: block;
}

.app-store {
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.wrapper-app-store {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-buttom {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.title-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

.title-footer a {
  text-decoration: none;
  color: inherit;
  margin-left: 16px !important;
  cursor: pointer;
}

.title-footer span {
  font-size: 12px;

  font-weight: 400;
  line-height: 18px;

  color: rgb(196, 196, 196);
  margin: 0px;
  padding: 0px;
}

.img-footer {
  display: inline-flex;
  flex-wrap: nowrap;
  height: 27px;
  align-items: center;
  text-decoration: none;
}

.medsos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.medsos img {
  margin-left: 12px;
}
