@media screen and (max-width: 1024px) {
  div.header {
    background-image: url("/bg.jpg");
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
  }

  div.brand-company {
    height: 420px;
    padding-bottom: auto;
  }

  div.title-company {
    min-height: 80px;
  }

  div.title-company span {
    max-width: 668px;
    line-height: 76px;
  }

  input {
    font-size: 16px;
  }

  div.flex-box-fiture {
    width: 100%;
    height: auto;
  }

  div.wrapper-fiture {
    padding-top: 70px;
    margin: 0px;
    width: 100%;
  }

  div.dispaly-fiture {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  div.content-fiture {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 300px 300px 300px;
  }

  div.flex-box-fiture {
    max-width: 768px;
  }

  .content-desc-fiture h2 span {
    display: flex;
  }

  div.desc-fiture {
    text-align: center;
  }

  div.content-desc-fiture h2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  div.content-desc-fiture h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-align: start;
    line-height: 20px;
    text-align: center;
  }

  div.content-desc-fiture {
    text-align: start;
  }

  div.btn-right button {
    justify-content: start;
  }

  div.btn-right span {
    font-size: 14px;
    line-height: 20px;
  }

  div.content-menu span {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  div.title-menu span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  div.content-menu {
    padding-bottom: 130px;
  }

  div.wrapper-menu {
    padding: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 72vh;
    width: 100%;
  }

  div.desc-menu span {
    margin: 0px;
    font-size: 26px;
    width: 180px;
  }

  div.image-resto img {
    width: 597.34px;
    height: 430.81px;
  }

  div.desc-resto {
    margin-left: 50px !important;
    margin-bottom: 96px;
    width: 100%;
  }

  div.hero-resto span {
    font-size: 26.5px;
    line-height: 32px;
  }

  div.description-resto span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  button.btn-input {
    display: none;
  }

  div.wrapper-img-menu img {
    width: auto;
    height: 76vh;
    margin-left: 0px;
  }

  div.wrapper-resto {
    padding: 0px;
  }

  div.content-resto {
    width: auto;
    height: 84vh;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: start;
    align-items: center;
    margin: 100px 50px;
  }

  div.description-resto p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 264px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    display: block;
  }

  div.btn-app {
    width: 60%;
  }

  div.btn-app button {
    font-size: 14px;
    padding: 8px 10px;
  }

  div.btn-resto button {
    font-size: 14px;
    padding: 8px 14px;
  }

  div.wrapper-img-resto img {
    width: 100px;
    height: auto;
  }

  div.content-resto img {
    width: auto;
    height: 80vh;
  }

  div.content-resto {
    display: grid;
    grid-template-columns: auto 264px;
    margin: 80px;
  }

  div.app-store {
    max-width: 50%;
  }

  div.wrapper-app-store {
    cursor: pointer;
    margin-top: 10px;
  }

  div.wrapper-app-store img {
    margin: 10px;
    background-color: transparent;
  }

  div.footer-head {
    padding: 0px 90px;
  }
}

.header {
  background-image: url("/bg.jpg");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* btn in & up */

.wrapper-head-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 16px;
}

.head-nav {
  flex: 1 1 0%;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
}

.btn-in {
  line-height: 24px;
  border: none;
  font-size: 18px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: transparent;
  font-weight: 700;
  padding: 0 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btn-up {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(73, 73, 73);
  border-radius: 1000px;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
  min-height: 40px;
  line-height: 22px;
  font-size: 16px;
  padding: 0 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* end */

/* title  */

.head-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 192px;
}

.brand-company {
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.title-company {
  display: flex;
  justify-content: center;
  margin-top: 86px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.title-company span {
  font-size: 60px;
  max-width: 668px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  letter-spacing: -0.04ch;
  line-height: 76px;
}

/* end */

/* input */

.flex-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  margin-top: 76px;
}

.wrapper-input {
  position: relative;
  margin: 0px auto;
  width: 400px;
}

.content-input {
  max-width: 100%;
}

.container-input {
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 32px;
  padding: 5px;
  height: 48px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.container-input div {
  padding-top: 4px;
  padding-bottom: 4px;
}

.maps-img {
  max-width: 100%;
  margin-right: 8px;
}

.input {
  flex-grow: 1;
  background: inherit;
  max-width: 100%;
  margin: 0px 8px 0px auto;
}

input {
  width: 100%;
  border: none;
  outline: none;
  flex: 1 1 100%;
  display: flex;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  background: inherit;
  padding-bottom: 5px;
  margin: 0px;
  min-height: 30px;
  resize: vertical;
}

.btn-input {
  max-width: 100%;
  margin-right: 0px;
}

.btn-arrow-right {
  position: relative;
  max-width: 100%;
  margin: 0px;
  display: inline-flex;
  min-height: 40px;
  border-radius: 100%;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 23, 0);
  user-select: none;
  height: 40px;
  width: 40px;
  padding: 0px;
  justify-content: center;
}

/* end */

/* box fitur */

.flex-box-fiture {
  margin: 0px auto;
  width: auto;
}

.wrapper-fiture {
  padding: 76px 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content-fiture {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 450px 450px 450px;
  text-align: center;
}

.dispaly-fiture {
  margin: 0px 17px;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  height: auto;
  width: 300px;
  padding: 16px;
}

.img-fiture {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 0px;
}

.img-fiture img {
  margin: auto 0px;
}

.desc-fiture {
  min-height: 160px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 250px;
}

.content-desc-fiture {
  max-width: 100%;
  text-align: center;
}

.content-desc-fiture h2 {
  font-size: 28px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  color: rgb(25, 25, 25);
  display: block;
  margin: 0px;
  padding: 0px;
}

.content-desc-fiture h3 {
  font-size: 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0ch;
  color: rgb(25, 25, 25);
  margin: 8px 0px 0px 0px;
  text-align: center;
  padding: 0px;
}

.content-desc-fiture h2 span {
  display: flex;
  justify-content: center;
  line-height: 30px;
}

.btn-right {
  border: none;
  padding: 0px;
  margin: 12px 0px 0px;
  justify-content: center;
  outline: 0px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.btn-right img {
  width: 16px;
  margin-left: 6px;
}

.btn-right span {
  color: rgb(235, 23, 0);
  font-size: 15px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.04ch;
  margin: 0px;
  padding: 0px;
}

.flex-menu {
  width: 100%;
  height: 100vh;
}

.wrapper-menu {
  flex-flow: row nowrap;
  width: 100%;
  height: 90vh;
  margin: 0px;
  padding: 100px;
  /* padding-bottom: 0px; */
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.content-menu {
  flex: 4 1 0%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* margin-bottom: 96px; */
  margin: 0px;
  padding-top: 100px;
}

.desc-menu {
  max-width: 100%;
  white-space: pre-line;
}

.desc-menu span {
  font-size: 46px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 46px;
  display: flex;
  letter-spacing: -0.04ch;
  color: rgb(25, 25, 25);
  display: block;
  padding: 0px;
  margin: 0px;
}

.title-menu {
  max-width: 100%;
  margin-bottom: 16px;
  text-align: start;
  margin: 18px 0px;
}

.title-menu span {
  font-size: 18px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 17px;
  color: rgb(25, 25, 25);
}

.btn-app {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  border-radius: 1000px;
  min-height: 35px;
  width: 150px;
  align-items: center;
  border: none;

  background-color: rgb(217, 20, 0);
  text-align: center;
}

.btn-app button {
  font-size: 17px;
  font-weight: 650;
  color: rgb(255, 255, 255);
  line-height: 22px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 0ch;
  flex-grow: 1;
  opacity: 1;
  padding: 12px 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-app:hover {
  background-color: rgb(197, 20, 0);
}

.wrapper-img-menu {
  flex: 7 1 0%;
  margin-left: 50px !important;
  padding-bottom: 30px;
}

.wrapper-img-menu img {
  width: 100%;
  height: auto;
  margin-left: 0px;
}

.wrapper-resto {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  height: auto;
  background: rgb(255, 240, 237);
}

.content-resto {
  display: grid;
  grid-template-columns: auto 500px;
  margin: 100px;
}

.desc-resto {
  flex: 4 1 0%;
  margin-left: 50px !important;
  margin-bottom: 50px;
  margin-top: 100px;
  display: block;
  flex-flow: column nowrap;
  justify-content: center;
  width: 500px;
}

.hero-resto {
  width: auto;
  margin-bottom: 8px;
}

.hero-resto span {
  font-size: 46px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  margin: 0px;
  padding: 0px;
  display: block;
}

.description-resto {
  max-width: 100%;
  margin-bottom: 16px;
}

.description-resto p {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  width: 450px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  display: block;
}

.wrapper-img-resto {
  padding: 0px;
}

.wrapper-img-resto img {
  width: 100%;
  height: auto;
}

.btn-resto {
  position: relative;
  width: 500px;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  border-radius: 1000px;
  min-height: 40px;
  width: auto;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: rgb(217, 20, 0);
  text-align: center;
}

.btn-resto button {
  font-size: 17px;
  font-weight: 650;
  color: rgb(255, 255, 255);
  line-height: 22px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 0ch;
  flex-grow: 1;
  opacity: 1;
  padding: 12px 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-resto:hover {
  background-color: rgb(197, 20, 0);
}

/* FOOTER */

.footer-head {
  width: 100%;
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.wrapper-footer {
  width: 1184px;
}

.wrapper-footer footer {
  max-width: 1160px;
  padding: 0px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.flex-footer {
  flex-wrap: wrap;
  display: flex;
}

.content-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  flex: 1 1 0%;
  display: block;
}

.content-footer h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.list-topCities {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.list-topCities a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: filter 0.2s ease 0s;
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-top: 8px;
}

.list-topCities span {
  font-size: 14px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(196, 196, 196);
  margin: 0px;
  padding: 0px;
  display: block;
}

.list-topCities span:hover {
  text-decoration: underline;
  color: white;
}

.list-topCuines {
  padding-top: 32px;
  padding-bottom: 32px;
  flex: 1 1 0%;
}

.list-topCuines h2 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0px;
  display: block;
}

.list-about-company {
  display: grid;
  grid-template-columns: 600px auto;


}

.about-company {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-between;
}

.desc-about {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.desc-about a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: filter 0.2s ease 0s;
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-top: 8px;
}

.desc-about span {
  font-size: 14px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(196, 196, 196);
  margin: 0px;
  padding: 0px;
  display: block;
}

.about-company span:hover {
  text-decoration: underline;
  color: white;
}

.desc-about h2 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0px;
  display: block;
}

.app-store {
  /* flex: 1px 1px 0px; */
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  text-align: end;
}

.wrapper-app-store {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.wrapper-app-store img {
  margin: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.wrapper-app-store img:hover {
  opacity: 1;
}

.footer-buttom {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.title-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

.title-footer a {
  text-decoration: none;
  color: inherit;
  margin-left: 16px !important;
  cursor: pointer;
}

.title-footer span {
  font-size: 12px;

  font-weight: 400;
  line-height: 18px;

  color: rgb(196, 196, 196);
  margin: 0px;
  padding: 0px;
}

.img-footer {
  display: inline-flex;
  flex-wrap: nowrap;
  height: 27px;
  align-items: center;
  text-decoration: none;
}

.medsos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.medsos img {
  margin-left: 12px;
}
